body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-album-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.album-art img {
  margin-left: 10px;
  margin-right: 10px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
}

.album-art img:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.video {
  margin-left: 10px;
  margin-right: 10px;
}

iframe {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
  height: auto;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
